.text-center {
  text-align: center;
}

.black-text {
  color: rgb(0,0,0) 
}


.top-image {
  text-align: center;
}

h2 {
  color:rgb(46, 46, 202);
}

header img{
  border: 1px solid rgb(0,0,0);
}

.tags span {
  border: 1px solid darkgreen;
  padding: 7px 9px;
  color: darkgreen;
  border-radius: 5px;
  font-size: 0.9rem;
  display: inline-block; 
  margin: 5px 0
}

.top-image img{
  text-align: center;
  border-color: darkgreen !important;
}

.top-container {
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.top-hero {
  background: rgba(255, 255, 255, 0.43);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border: 1px solid rgba(255, 255, 255, 0.35);
  
}

